@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0px;
    padding:0px;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
                url("/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
